

    <div class="container mt-3">
        <h1>shop name</h1>

        <section class="mb-4">
            <h2>Shop</h2>

            <div class="product-list list-group">
                <a href="#" class="list-group-item list-group-item-action" data-bs-toggle="modal" data-bs-target="#productDetailModal">
                    <span class="product-name">edit shop </span>
                    <div style="display: flex; gap: 30px;">
                        <i class="fas fa-pencil"></i>
                    </div>
                </a>
                <a href="#" class="list-group-item list-group-item-action" data-bs-toggle="modal" data-bs-target="#productDetailModal">
                    <span class="product-name">user profile</span>
                    <div style="display: flex; gap: 30px;">
                        <i class="fas fa-pencil"></i>
                    </div>
                </a>
                <a href="#" class="list-group-item list-group-item-action" data-bs-toggle="modal" data-bs-target="#productDetailModal">
                    <span class="product-name">social links profile</span>
                        <i class="fas fa-pencil"></i>
                </a>
                <a href="#" class="list-group-item list-group-item-action" data-bs-toggle="modal" data-bs-target="#productDetailModal">
                    <span class="product-name">manage staff</span>
                        <i class="fas fa-pencil"></i>
                </a>
            </div>
        </section>

        
    </div>
